In [5]:
import pandas as pd
import numpy as np

In [2]:
tested_df = pd.read_csv("test_predictions.csv")

In [3]:
tested_df

,id,date,country,store,product,num_sold,predicted_num_sold,yhat_lower,yhat_upper
0,230130,2017-01-01,Canada,Discount Stickers,Holographic Goose,NaN,0.000000,-1.342524e-09,1.280042e-09
1,230220,2017-01-02,Canada,Discount Stickers,Holographic Goose,NaN,0.000000,-1.219854e-09,1.197334e-09
2,230310,2017-01-03,Canada,Discount Stickers,Holographic Goose,NaN,0.000000,-1.243511e-09,1.332886e-09
3,230400,2017-01-04,Canada,Discount Stickers,Holographic Goose,NaN,0.000000,-1.223548e-09,1.293185e-09
4,230490,2017-01-05,Canada,Discount Stickers,Holographic Goose,NaN,0.000000,-1.317902e-09,1.248525e-09
...,...,...,...,...,...,...,...,...,...
98545,328314,2019-12-27,Singapore,Stickers for Less,Kerneler Dark Mode,NaN,1086.141389,9.693456e+02,1.208617e+03
98546,328404,2019-12-28,Singapore,Stickers for Less,Kerneler Dark Mode,NaN,1144.650992,1.023441e+03,1.259546e+03
98547,328494,2019-12-29,Singapore,Stickers for Less,Kerneler Dark Mode,NaN,1251.652607,1.136630e+03,1.368751e+03
98548,328584,2019-12-30,Singapore,Stickers for Less,Kerneler Dark Mode,NaN,1060.550345,9.468472e+02,1.178690e+03
98549,328674,2019-12-31,Singapore,Stickers for Less,Kerneler Dark Mode,NaN,1064.681546,9.490008e+02,1.182267e+03

In [14]:
tested_df.drop(columns=["num_sold"],inplace=True)

KeyError: "['num_sold'] not found in axis"

In [15]:
tested_df['predicted_num_sold'] = np.ceil(tested_df['predicted_num_sold']).astype(int)

In [18]:
tested_df.rename(columns={"predicted_num_sold":"num_sold"},inplace=True)

In [20]:
tested_df = tested_df[["id","num_sold"]]

In [22]:
tested_df = tested_df.sort_values(by="id")

In [23]:
tested_df

           id  num_sold
0      230130         0
1095   230131       818
2190   230132       675
3285   230133       380
4380   230134       451
...       ...       ...
88694  328675       377
89789  328676      2062
90884  328677      1446
91979  328678      1049
93074  328679      1271

[98550 rows x 2 columns]